.start-button{
    background-color: black;
    border: 3px solid yellowgreen;
    color: yellowgreen;
    font-size: 25px;
    height: 125px;
    width: 250px;
    transform: translate(0%, -50%);
    text-align: center;
    font-family: Arial, sans-serif;
    position: absolute;
    }

.text-box-game-output-start {
    border: 2px solid greenyellow;
    padding: 10px;         
    width: 500px;
    height: 150px;            
    background-color: black;
    border-radius: 8px;   
    font-family: Arial, sans-serif;
    color: greenyellow;
    transform: translate(67%, 100%);
    opacity: 0.2;
    }

.text-box-player-conditions-left-start {
    border: 2px solid greenyellow;
    padding: 10px;         
    width: 150px; 
    height: 50px;           
    background-color: black;
    border-radius: 8px;   
    font-family: Arial, sans-serif;
    transform: translate(10%, -10%);
    color: greenyellow;
    opacity: 0.2;
    }

.text-box-player-conditions-right-start {
    border: 2px solid greenyellow;
    padding: 10px;         
    width: 150px; 
    height: 50px;           
    background-color: black;
    border-radius: 8px;   
    font-family: Arial, sans-serif;
    transform: translate(675%, -300%);
    color: greenyellow;
    opacity: 0.2;
    }

.game-box-start {
    border: 5px solid black;
    padding: 10px;         
    width: 1200px; 
    height: 650px; 
    position: absolute;          
    background-color: black;
    border-radius: 8px;   
    font-family: Arial, sans-serif;
    transform: translate(0, 0);
    opacity: 0.2;
    }

.game-over {
    background-color: black;
    border: 3px solid yellowgreen;
    color: yellowgreen;
    font-size: 25px;
    height: 250px;
    width: 500px;
    transform: translate(60%, 75%);
    text-align: center;
    font-family: Arial, sans-serif;
    position: absolute;
    }

.text-box-game-output {
    border: 2px solid greenyellow;
    padding: 10px;         
    width: 500px;
    height: 150px;            
    background-color: black;
    border-radius: 8px;   
    font-family: Arial, sans-serif;
    color: greenyellow;
    transform: translate(67%, 80%);
    }
    
.text-box-player-conditions-left {
    border: 2px solid greenyellow;
    padding: 10px;         
    width: 150px; 
    height: 50px;           
    background-color: black;
    border-radius: 8px;   
    font-family: Arial, sans-serif;
    transform: translate(10%, -10%);
    color: greenyellow;
    }
    
.text-box-player-conditions-right {
    border: 2px solid greenyellow;
    padding: 10px;         
    width: 150px; 
    height: 50px;           
    background-color: black;
    border-radius: 8px;   
    font-family: Arial, sans-serif;
    transform: translate(675%, -300%);
    color: greenyellow;
    }
    
.game-box {
    border: 5px solid black;
    padding: 10px;         
    width: 1200px; 
    height: 650px; 
    position: absolute;          
    background-color: black;
    border-radius: 8px;   
    font-family: Arial, sans-serif;
    transform: translate(0, 0);
    }
    
@keyframes vibrate {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(2px, -2px); }
    60% { transform: translate(-2px, -2px); }
    80% { transform: translate(2px, 2px); }
    100% { transform: translate(0); }
    }
      
.vibrating {
    animation: vibrate 0.2s infinite linear;
    width: 200px;
    height: auto;
    margin: -100px;
    }

.wagon-image-position {
    position: absolute;
    top: 350px;
    left: 0;
    width: 100%;
    height: 100%;
    }

@keyframes moveCloudOne {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(60%);
    }
}
      
.moving-cloud-one {
    position: absolute;
    top: 50px; 
    width: 150px;
    animation: moveCloudOne 5s linear infinite;
}

@keyframes moveCloudTwo {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(40%);
    }
}
      
.moving-cloud-two {
    position: absolute;
    top: 20px; 
    width: 100px;
    animation: moveCloudTwo 2s linear infinite;
}

@keyframes moveCloudThree {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(50%);
    }
}
      
.moving-cloud-three {
    position: absolute;
    top: 100px; 
    width: 200px;
    animation: moveCloudThree 6s linear infinite;
}

.still {
    width: 200px;
    height: auto;
    margin: -100px;
    }

.still-cloud-one {
    position: absolute;
    top: 50px; 
    width: 150px;
}

.still-cloud-three {
    position: absolute;
    top: 100px; 
    left: 275px;
    width: 200px;
}

.web-socket-box {
    border: 5px solid greenyellow;
    padding: 5px;         
    width: 250px; 
    height: 350px; 
    position: absolute;          
    background-color: black;
    border-radius: 8px;   
    font-family: Arial, sans-serif;
    transform: translate(-175%, 25%);
    opacity: .8;
}